/**
 * 弹窗
 * @param {*}
 */
.noReview-wrap .procedure {
  position: relative;
  top: 0;
  left: 0;
  background: #35cbdb;
}
.noReview-wrap .procedure .pro-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .09rem .3rem .08rem .21rem;
}
.noReview-wrap .procedure .pro-num .num {
  width: .4rem;
  height: .4rem;
  background: #ffffff;
  border-radius: 100%;
  font-size: .26rem;
  color: #35cbdb;
  line-height: .4rem;
  text-align: center;
}
.noReview-wrap .procedure .pro-num .line {
  margin-left: -0.16rem;
  margin-right: -0.16rem;
  width: 1.5rem;
  height: .02rem;
  background: #ffffff;
  opacity: 1;
}
.noReview-wrap .procedure .pro-words {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .09rem .3rem .08rem .21rem;
}
.noReview-wrap .procedure .pro-words .words {
  font-size: .2rem;
  color: #ffffff;
  line-height: .28rem;
}
.noReview-wrap .content-wrap .content-top {
  padding: 1.05rem 1.72rem .5rem;
}
.noReview-wrap .content-wrap .content-top .content-img {
  margin: 0  1.33rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: .2rem ;
  text-align: center;
}
.noReview-wrap .content-wrap .content-top .content-img img {
  width: 100%;
  height: 100%;
}
.noReview-wrap .content-wrap .content-top .content-reason {
  margin-top: .4rem;
  width: 4.05rem;
  height: 1.12rem;
  font-size: .4rem;
  color: #222222;
  line-height: .56rem;
  text-align: center;
}
.noReview-wrap .content-wrap .content-cen {
  padding: 0 1.44rem;
  width: 3.04rem;
  height: .3rem;
  font-size: .3rem;
  color: #666666;
  line-height: .3rem;
  text-align: center;
}
.noReview-wrap .content-wrap .content-cen p {
  width: 4.62rem;
  margin-top: .24rem;
}
.noReview-wrap .content-wrap .content-bot {
  position: fixed;
  left: 1.32rem;
  bottom: .9rem;
  width: 4.9rem;
  height: .96rem;
  font-size: .24rem;
  color: #aaaaaa;
  line-height: .48rem;
  text-align: center;
}
.noReview-wrap .content-wrap .content-bot a {
  color: rgba(48, 196, 215, 0.667);
}
