/**
 * 弹窗
 * @param {*}
 */
.rules-wrap .procedure {
  position: relative;
  top: 0;
  left: 0;
  background: #35cbdb;
}
.rules-wrap .procedure .pro-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .09rem .3rem .08rem .21rem;
}
.rules-wrap .procedure .pro-num .num {
  width: .4rem;
  height: .4rem;
  background: #ffffff;
  border-radius: 100%;
  font-size: .26rem;
  color: #35cbdb;
  line-height: .4rem;
  text-align: center;
}
.rules-wrap .procedure .pro-num .line {
  margin-left: -0.16rem;
  margin-right: -0.16rem;
  width: 1.5rem;
  height: .02rem;
  background: #ffffff;
  opacity: 1;
}
.rules-wrap .procedure .pro-words {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .09rem .3rem .08rem .21rem;
}
.rules-wrap .procedure .pro-words .words {
  font-size: .2rem;
  color: #ffffff;
  line-height: .28rem;
}
.rules-wrap .rules {
  padding: .4rem .3rem 0;
  background: url(../img/secret.png) no-repeat -0.26rem center;
  background-size: 100%;
}
.rules-wrap .rules .rulesWords .title {
  font-size: .3rem;
  color: #222222;
  line-height: .42rem;
}
.rules-wrap .rules .rulesWords .detail-wrap {
  margin-top: .2rem;
}
.rules-wrap .rules .rulesWords .detail-wrap .detail {
  padding-left: .3rem;
  margin-top: .31rem;
  font-size: .28rem;
  color: #666666;
  line-height: .28rem;
  background: url(../img/star.png) no-repeat 1px center;
  background-size: .19rem .19rem;
}
.rules-wrap .rules .rulesWords .detail-wrap .detail span {
  color: #ff5e00;
}
.rules-wrap .rules .startText .button {
  margin-top: 6.93rem;
  width: 6.9rem;
  height: .9rem;
  background: #35cbdb;
  border-radius: 8px ;
  font-size: .36rem;
  color: #ffffff;
  line-height: .9rem;
  text-align: center;
}
.rules-wrap .rules .startText .prompt {
  margin-top: .33rem;
  font-size: .26rem;
  color: #666666;
  line-height: .37rem;
  text-align: center;
}
.rules-wrap .rules .startText .prompt span {
  color: #ff5e00;
}
