/**
 * 弹窗
 * @param {*}
 */
.uploadSuccess-wrap .procedure {
  position: relative;
  top: 0;
  left: 0;
  background: #35cbdb;
}
.uploadSuccess-wrap .procedure .pro-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .09rem .3rem .08rem .21rem;
}
.uploadSuccess-wrap .procedure .pro-num .num {
  width: .4rem;
  height: .4rem;
  background: #ffffff;
  border-radius: 100%;
  font-size: .26rem;
  color: #35cbdb;
  line-height: .4rem;
  text-align: center;
}
.uploadSuccess-wrap .procedure .pro-num .line {
  margin-left: -0.16rem;
  margin-right: -0.16rem;
  width: 1.5rem;
  height: .02rem;
  background: #ffffff;
  opacity: 1;
}
.uploadSuccess-wrap .procedure .pro-words {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .09rem .3rem .08rem .21rem;
}
.uploadSuccess-wrap .procedure .pro-words .words {
  font-size: .2rem;
  color: #ffffff;
  line-height: .28rem;
}
.uploadSuccess-wrap .prompt {
  padding: 1.07rem .97rem  0;
}
.uploadSuccess-wrap .prompt .img {
  margin: 0 auto;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: .2rem ;
}
.uploadSuccess-wrap .prompt .img img {
  width: 100%;
  height: 100%;
}
.uploadSuccess-wrap .prompt .success {
  margin-top: .79rem;
  font-size: .4rem;
  color: #222222;
  line-height: .2rem;
  text-align: center;
}
.uploadSuccess-wrap .prompt .content {
  margin-top: .8rem;
  font-size: .28rem;
  color: #666666;
  line-height: 20px;
}
.uploadSuccess-wrap .content-bot {
  position: fixed;
  left: 1.32rem;
  bottom: .9rem;
  width: 4.9rem;
  height: .96rem;
  font-size: .24rem;
  color: #aaaaaa;
  line-height: .48rem;
  text-align: center;
}
.uploadSuccess-wrap .content-bot a {
  color: rgba(48, 196, 215, 0.667);
}
